In [8]:
# x = (1,2,3,4,5)
# y = 1,2,3,4,5
# dua duanya sama sama bertipe tuple
# tuple ga bisa diubah melalui indexing

In [21]:
x = (1,2,3,4,5)
x[2]

3

Merubah isi tuple

In [22]:
x = x[0], x[1], 'jeruk', x[3], x[4]
x
# merubah manual

(1, 2, 'jeruk', 4, 5)

In [23]:
x = list(x)
x
# dirubah ke list dulu

[1, 2, 'jeruk', 4, 5]

In [24]:
x[3] = 'apel'
x

[1, 2, 'jeruk', 'apel', 5]

In [25]:
x = tuple(x)
x

(1, 2, 'jeruk', 'apel', 5)

Method Tuple

In [33]:
t1 = (1,2,3,4,5,2,2,2)
t1.count(2)

4

In [34]:
t1.index(1)

0

In [35]:
tas= ('jeruk', 41, 9.87, [1,2,3,4])
tas

('jeruk', 41, 9.87, [1, 2, 3, 4])

In [38]:
item1, item2, item3, item4 = tas
# item1 ==> 'jeruk
# item2 ==> 41
# item3 ==> 9.87
# item4 ==> [1,2,3,4]

SETS

In [2]:
set1 = set()
set1.add('biru')
set1

{'biru'}

In [4]:
set1.add('kuning')
set1

{'biru', 'kuning'}

In [6]:
list_angka = [1,2,3,3,3,3,3,4,4,4,5,7,9]
set_angka = set(list_angka)
set_angka

{1, 2, 3, 4, 5, 7, 9}