In [10]:
var1 = "Abdul Karim Zaidan"
# var1 ==> 'Abdul Karim Zaidan'

In [11]:
var1 = var1.upper()
# var1 ==> 'ABDUL KARIM ZAIDAN'
# var1.split() ==> ['Abdul', 'Karim', 'Zaidan'] normalnya yang displit itu spasi
# var1.split('A') ==> ['', 'BDUL K', 'RIM Z', 'ID', 'N'] batas potongnya 'A', setiap ada 'A' langsung buat index baru'

Print Method & Formatting

In [15]:
print('Urutan ranking di kelas X MIA 3 {} {} {}'.format('Akmal','Rama','Abdul'))

Urutan ranking di kelas X MIA 3 Akmal Rama Abdul

In [16]:
print('Urutan ranking di kelas X MIA 3 {2} {0} {1}'.format('Akmal','Rama','Abdul'))

Urutan ranking di kelas X MIA 3 Abdul Akmal Rama

In [18]:
print('Urutan ranking di kelas X MIA 3 {a} {c} {b}'.format(a='Akmal',b='Rama',c='Abdul'))

Urutan ranking di kelas X MIA 3 Akmal Abdul Rama

Contoh lebih advance

In [19]:
luas1 = 667.9
luas2 = 998.7

In [28]:
print('Luas tanah yang dimiliki Pak Abdul adalah {a} meter dan {b} meter'.format(a=luas1,b=luas2))

Luas tanah yang dimiliki Pak Abdul adalah 667.9 meter dan 998.7 meter

In [32]:
print('Luas tanah yang dimiliki Pak Abdul adalah {a:10.3f} meter dan {b:10.3f} meter'.format(a=luas1,b=luas2))
# {a:10.3f} ==> maksudnya 10 itu lebar, kalo 3f itu berapa angka setelah koma

Luas tanah yang dimiliki Pak Abdul adalah    667.900 meter dan    998.700 meter